<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OluyedeSegunjr</title>
   

    <!--  Bootstrap css file  -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!--  font awesome icons  -->
    <link rel="stylesheet" href="/assets/css/all.min.css">


    <!--  Magnific Popup css file  -->
    <link rel="stylesheet"  href="/assets/vendor/Magnific-Popup/dist/magnific-popup.css">


    <!--  Owl-carousel css file  -->
    <link rel="stylesheet" href="/assets/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/vendor/owl-carousel/css/owl.theme.default.min.css">


    <!--  custom css file  -->
    <link rel="stylesheet" href="/assets/css/style.css">



    <!--  Responsive css file  -->
    <link rel="stylesheet" href="assets/css/responsive.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>

</head>

<body>

        <style>
                #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/assets/img/loading.gif) center no-repeat #fff;
}
                  
              </style>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>



<script>
	$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
 </script>        




    <!--  ======================= Start Header Area ============================== -->
    <div class="se-pre-con"></div>
    <header class="header_area">
        <div class="main-menu col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light" >
                <a class="navbar-brand" href="https://oluyedesegunjr.firebaseapp.com/"><img src="/assets/img/logo8.PNG" style="height:40px" alt="logo"></a>
                
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>

                   
                    
                </button>
               
                <div class="collapse navbar-collapse" id="navbarNav">
                        
                    <div class="mr-auto"></div>
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" style="font-family: Times New Roman" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-family: Times New Roman" href="#about">about</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-family: Times New Roman" href="#skills">skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-family: Times New Roman" href="#portfolio">portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-family: Times New Roman" href="#recom">recommendations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-family: Times New Roman" href="#blog">blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="font-family: Times New Roman" href="#contact">contact</a>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
    </header>


    <!--  ======================= End Header Area ============================== -->

    <!--  ======================= Start Main Area ================================ -->
    <main class="site-main">


        <!--  ======================= Start Banner Area =======================  -->
        <section class="site-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 site-title">
                       
                        <h4 class="title-text text-uppercase" style="font-family: Times New Roman">I am OLUYEDE SEGUN.A(jr)</h4>
                        <p>
                        <h4 class="title-text text-uppercase" style="font-family: Times New Roman">I.T Support Specialist</h4>
                        <h4 class="title-text text-uppercase quotes" style="font-family: Times New Roman">(Computer Networking)</h4>
                            <h4 class="title-text text-uppercase quotes" style="font-family: Times New Roman">(Cloud technologies)</h4>
                        <h4 class="title-text text-uppercase quotes" style="font-family: Times New Roman">(Web developer)</h4>
                        <h4 class="title-text text-uppercase quotes" style="font-family: Times New Roman">(AI(ML & Data analysis)</h4>
						<h4 class="title-text text-uppercase quotes" style="font-family: Times New Roman">(I.T Security&Systemadmin)</h4>
						
                        </p>
                        <script>
                            (function() {

                            var quotes = $(".quotes");
                            var quoteIndex = -1;

                            function showNextQuote() {
                                ++quoteIndex;
                                quotes.eq(quoteIndex % quotes.length)
                                    .fadeIn(500)
                                    .delay(500)
                                    .fadeOut(500, showNextQuote);
                            }

                            showNextQuote();

                            })();
                        </script>
                    
                        
                        <div class="site-buttons">
                            <div class="row">
                            <div class="d-flex flex-row flex-wrap">
                             <div class=" col-sm-6 ">
                                <a href="#about" button type="button" class="btn button primary-button text-uppercase" style="font-family: Times New Roman"">About</button></a>
                                </div>
                          
                            </div>
                            </div>
                        </div>
                    </div>

               
                   
                </div>
            </div>
        </section>
        <!--  ======================= End Banner Area =======================  -->

        <!--  ========================= About Area ==========================  -->
  
        <section class="about-area fly" id="about">
            <div class="container-fluid">
                <div class="row">
                   
                    <div class="col-lg-12 col-md-12 col-sm-12 about-title text-center">
                        <h2 class="text-uppercase pt-5">
                            
							 <span><li class="text-uppercase title-text"  style="font-size:25px;font-family: Times New Roman"><strong>ABOUT ME</strong></l1></span>
                        
                             <img style="width: 40px; height:40px ;  border-radius: 50%;"  src="/assets/img/juniorauthor.png" class="card-img-top" alt="...">
                            </span> 
                           
                        </h2>
                        <div class="paragraph py">
                            <p>
                              <strong> NAME</strong>: <strong>OLUYEDE SEGUN ADEDEJI (jr). </strong>
                            </p>
							 <p>
                             <strong> BACKGROUND </strong>: From Africa,Nigeria,Ondo State.
                            </p>
							
                            <p>
                              <strong>OCCUPATION</strong>:  A Final year Student of Computer Science department in Federal University of Technology Akure(FUTA), NIGERIA
                            </p>
                          
                               <strong>SKILLS</strong>:  I.T Support roles (Computer Network administration, Security and System admin), Artificial intelligence(machine learning & data analysis), Cloud technologies,and web developement
                              
							  .Familiar with programming languages like python, javascript, java. and operating system like windows, linux...
                            </p>
							
                            <p>
                                    <strong>HOBBIES</strong>: Writing, Singing, Exercising,soccer(goal keeping)...
                            </p>
                            <div class="text-center">
                            
                             <a href="https://projectsss.s3.us-east-2.amazonaws.com/OluyedeSegun.A(jr).pdf" button type="button" class="btn button primary-button text-uppercase"style="font-family: Times New Roman">Download cv</button></a>
                          
                            
                            <a href="#contact" button type="button" class="btn button primary-button text-uppercase"style="font-family: Times New Roman">Hire</button></a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div id="skills"></div>
        </section>
                <style>
                    .fly {
        opacity: 0;
        transition: all 600ms ease-in-out;
        transform: translateY(100px) scale(1.05) translate3d(0, 0, 0);
        }

        .show-block {
        opacity: 1;
        transform: translateY(0) scale(1) translate3d(0, 0, 0);
        }
                
                </style>

                <script>

var timer = 0;
function recheck() {
    var window_top = $(this).scrollTop();
    var window_height = $(this).height();
    var view_port_s = window_top;
    var view_port_e = window_top + window_height;
    
    if ( timer ) {
      clearTimeout( timer );
    }
    
    $('.fly').each(function(){
      var block = $(this);
      var block_top = block.offset().top;
      var block_height = block.height();
      
      if ( block_top < view_port_e ) {
        timer = setTimeout(function(){
          block.addClass('show-block');
        },100);       
      } else {
        timer = setTimeout(function(){
          block.removeClass('show-block');
        },100);          
      }
    });
}

$(function(){
  $(window).scroll(function(){
    recheck();
  });
  
  $(window).resize(function(){
     recheck();   
  });
  
  recheck();
});
                </script>


        <!--  ========================= End About Area ==========================  -->

        <!--  ======================== Brand Area ==============================  -->

        
        <!--  ======================== End Brand Area ==============================  -->

        <!--  ====================== Start Services Area =============================  -->
        <hr>
		
		
		  <section class="services-area "  > 
            <div class="">
                
                    <div class="col-lg-12 text-center services-title">
                       <h1><li class="text-uppercase title-text"  style="font-size:30px;font-family: Times New Roman"><strong>SKILLS</strong></l1></h1>
                        
                        
                    </div>
         </div>

         <div class="container services-list">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="services">
                            <div class="sevices-img text-center py-4">
                                <img src="/assets/img/services/program4.PNG" alt="Skills-1">
                            </div>
                            <div class="card-body text-center">
                                <h5 class="card-title text-uppercase font-roboto" style="font-family: Times New Roman"><strong>Web development</strong></h5>
                                <p class="card-text text-secondary">
                                    Proficient in development of websites/webapp using : 
                                    web backend: Python (django) others like flask, nodejs(express),basic php.
                                    also front end(html css, boostrap,jquery,javascript...), other 3rd party tools like wordpress
									<h5 class="text-center text-uppercase font-roboto" style="font-size:13px;font-family: Times New Roman"><strong>Web Backend Skill Gauge</strong></h5>
									<li>Python(django):</li>  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div></p>

<li>Flask:</li>  <div class="progress">
  <div class="progress-bar w-60" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
</div></p>

<li>Node js(express):</li>  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
</div></p>
<li>php:</li>  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%</div>
</div></p>
<li>wordpress:</li>  <div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">70%</div>
</div></p>

                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="/assets/img/services/network.PNG" alt="Skill-2">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase font-roboto" style="font-family: Times New Roman"><strong>Computer Network Administration</strong></h5>
										  <h5 class="card-title text-uppercase font-roboto text-center" style="font-size:15px;font-family: Times New Roman"><strong>(IT Support)</strong></h5>
									
                                    <p class="card-text text-secondary">
                                       Buliding, Configuration, Monitoring & Maintaining of Computer Networks,
                                       involving network equipment like routers, switches, access points, servers etc, knowledge of cisco & juniper IOS. Performing Routing & switching operations.
									   Basic knowledge of network programmabilty(automation) with python,Familiar with networking concepts like ip address subnetting, vpn, hsrp, access controls,network cabling e.t.c and tools like GNS3, Wireshark,packet tracer,ssh...
                                    </p>
                                </div>
                            </div>
                        </div>
						
						  <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="/assets/img/services/itsecurity.PNG" alt="Skill-2">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase font-roboto" style="font-family: Times New Roman"><strong>IT Security and System admin</strong></h5>
									 <h5 class="card-title text-uppercase font-roboto text-center" style="font-size:15px;font-family: Times New Roman"><strong>(IT Support)</strong></h5>
									
                                    <p class="card-text text-secondary">
                                       Skilled at providing security on network equipments, and pcs, setting up firewalls, and anti-malware, also customer support & system administration of users on active directory,office tools setting up a system....
                                    </p>
                                </div>
                            </div>
                        </div>


                        
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="/assets/img/services/cloud4.PNG" alt="Services-3">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase font-roboto" style="font-family: Times New Roman"><strong>Cloud Technology</strong></h5>
                                    <p class="card-text text-secondary">
                                       Use of Public Cloud providers like AWS, GCP, Azure, and IBM , 
                                       to design and migrate networks, develop AI and web apps.
                                       Also device virtualization skills  using VMWare.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="services">
                                <div class="sevices-img text-center py-4">
                                    <img src="/assets/img/services/ai.PNG" alt="Services-4">
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title text-uppercase font-roboto" style="font-family: Times New Roman"><strong>Artificial Intelligence</strong></h5>
									 <h5 class="card-title text-uppercase font-roboto text-center" style="font-size:12px;font-family: Times New Roman"><strong>(Machine Learning & Data Analysis)</strong></h5>
									
                                    <p class="card-text text-secondary">
                                        Skilled at developing AI applications,
                                        using Machine learning and Data science,
                                        familiar with data science tools like jupyter notebooks,
                                        SQL, Microsoft Excel,Database,Big Query, Hadoop, Apache..
                                        And ML algorithms like Regression, KNNS, KVMS, Opencv,,Numpy, Pandas, Matplotlib & Seaborn, Sklearn, Keras, NLP..
                                    </p>
                                </div>
                            </div>
                        </div>
                    

             



                            <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="services">
                                        <div class="sevices-img text-center py-4">
                                            <img src="/assets/img/services/tutor2.PNG" alt="Services-4">
                                        </div>
                                        <div class="card-body text-center">
                                            <h5 class="card-title text-uppercase font-roboto" style="font-family: Times New Roman"><strong>IT tutoring</strong></h5>
                                            <p class="card-text text-secondary">
                                              Counselling & Teaching about IT related fields like : programming, computer networks, web development
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="services">
                                            <div class="sevices-img text-center py-4">
                                                <img src="/assets/img/services/progg2.PNG" alt="Services-4">
                                            </div>
                                            <div class="card-body text-center">
                                                <h5 class="card-title text-uppercase font-roboto" style="font-family: Times New Roman"><strong>Programing languages knowledge</strong></h5>
                                                <p class="card-text text-secondary">
                                                  <li>Python:</li>
												  <div class="progress">
												  
  <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">90%</div>
</div>

                                                  <li>Javascript:</li>
												   <div class="progress">
												  
  <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">60%</div>
</div>
                                                 <li>Java:</li>
												  <div class="progress">
												  
  <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">40%</div>
</div>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
									
									<div class="col-lg-3 col-md-4 col-sm-6">
                                        <div class="services">
                                            <div class="sevices-img text-center py-4">
                                                <img src="/assets/img/services/technn.PNG" alt="Services-4">
                                            </div>
                                            <div class="card-body text-center">
                                                <h5 class="card-title text-uppercase font-roboto" style="font-family: Times New Roman"><strong>TECHNOLOGIES &<br>ENVIRONMENT</strong></h5>
                                                <p class="card-text text-secondary">
                                                    Windows, Linux, Vmware, Cisco, Juniper, AWS,GCP,Azure, Git And Github,PRTG/Nagios Monitor,GNS3 & Packetracer, WireShark , Putty,VS Code...
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                        
                    </div>
                </div>
                <div  id="portfolio"></div>
            </div>
         
        </section>

        
        <!--  ====================== End Services Area =============================  -->

        <!--  ======================= Project Area =============================  -->

    <hr>
    <div class="col-lg-12 text-center services-title" >
          <h1><li class="text-uppercase title-text"  style="font-size:30px;font-family: Times New Roman"><strong>PORTFOLIO</strong></l1></h1>
                        
    </div>


    <div class="col-lg-12 col-md-6 col-sm-12">
        
            <section class="project-area">
                <div class="container">
                    <div class="project-title ">
                        <h1 class="text-uppercase title-h1"style="font-family: Times New Roman"><strong>1.EDUCATION</strong></h1>
                    </div>
    
                   
    
                    <div class="row grid">
                        
                        <div class="col-lg-6 col-md-12 col-sm-6 element-item university">
                            
                            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
    
                               
                                       
                                        <div class="card-body">
                                                <h5 class="card-title text-uppercase title-h1" style="font-family: Times New Roman">UNIVERSITY & DEGREES</h5>
                                       
                                          
                                          <p class="card-text">
                                            <div class="our-project">
                                                <div class="title ">
                                                        <span style="font-size:13px" class="text"><strong>FEDERAL UNIVERSITY OF TECHNOLOGY AKURE (FUTA), NIGERIA</strong></span><br>
                                                        <span class="text"><strong>Course of Study</strong>: Computer Science</span><br>
                                                        <span class="text"><strong>Duration</strong>: 2015-2020</span><br>
														 <span class="text"><strong>Degree</strong>: BTech</span>
                                                </div>
                                            </div>
                                          </p>
                                         
                                        </div>
                             </div>
                       
                        </div>
    
                        
                        
                        
                    </div>
                </div>
            </section>
        </div>
        </div>
        <hr>
    
	
	 <div class=" grid">        
                <div class="col-lg-12 col-md-6 col-sm-12 ">
                  <section class="project-area">
                      <div class="container">
                          <div class="project-title">
                              <h1 class="text-uppercase title-h1" style="font-family: Times New Roman">2. PROFESSIONAL CERTIFICATIONS</h1>
                          </div>
          
                          
                          <div class="row grid">
                                  <div class="col-lg-6 col-md-6 col-sm-12 element-item network">
												 <div class="project-title">
                              <h1 class="text-uppercase title-h1 text-center" style="font-size:15px;font-family: Times New Roman">(Computer Networking)</h1>
                          </div>
          
											  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                                                     
                                                      <img src="/assets/img/ccnanew.PNG"  data-toggle="modal" data-target="#ccna" class="card-img-top" alt="...">
                                                      <div class="card-body">
                                                        
                                                        <p class="card-text">
                                                              <div class="title ">
                                                                      <p class="text-uppercase">TITLE: CCNA</p>
                                                                      <span class="text-secondary">ORG : CISCO</span>
                                                                  </div>
                                                        </p>
                                                       
                                                      </div>
                                           </div>
          
											
                                              <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                                                     
                                                      <img src="/assets/img/ccentnew.PNG"  data-toggle="modal" data-target="#ccent" class="card-img-top" alt="...">
                                                      <div class="card-body">
                                                        
                                                        <p class="card-text">
                                                              <div class="title ">
                                                                      <p class="text-uppercase">TITLE: CCENT</p>
                                                                      <span class="text-secondary">ORG : CISCO</span>
                                                                  </div>
                                                        </p>
                                                       
                                                      </div>
                                           </div>
          
                                           
                                           <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                                          
                                                  <img src="/assets/img/NSE2 Fortinet3.PNG" data-toggle="modal" data-target="#nse2"  class="card-img-top" alt="...">
                                                  <div class="card-body">
                                                    
                                                    <p class="card-text">
                                                          <div class="title ">
                                                                  <p class="text-uppercase">TITLE: NSE</p>
                                                                  <span class="text-secondary">ORG : FORTINET</span>
                                                              </div>      
                                                  </p>
                                                  
                                                  </div>
                                       </div>
                                     
                                         </div>
                                      
                             
                              
                              <div class="col-lg-6 col-md-6 col-sm-12 element-item aiii">
                            
							 <div class="project-title">
                              <h1 class="text-uppercase title-h1 text-center"  style="font-size:15px;font-family: Times New Roman">Artificial intellignece</h1>
								</div>
                                  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                                         
                                          <img src="/assets/img/certnexai2.PNG" data-toggle="modal" data-target="#caip" class="card-img-top" alt="...">
                                          <div class="card-body">
                                            
                                            <p class="card-text">
                                                  <div class="title">
                                                          <p class="text-uppercase">TITLE: CAIP</p>
                                                          <span class="text-secondary">ORG: CERTNEXUS</span>
                                                      </div>
                                            </p>
                                           
                                          </div>
                                  </div>
                              </div>
                              
                              
                              
                          </div>
                      
                  </section>
                </div>
              </div>
			  
			  </div>
					   <section class="project-area">
                      <div class="container">
					  <div class="project-title">
                              <h1 class="text-uppercase title-h1" style="font-family: Times New Roman">PROFESSIONAL TRAINING CERTS</h1>
                          </div>
						   <div class="row grid">
							 <div class="col-lg-4 col-md-6 col-sm-12 element-item cloudd">
                                   <div class="project-title">
                              <h1 class="text-uppercase title-h1 text-center"  style="font-size:15px;font-family: Times New Roman">(Cloud)</h1>
								</div>
                               
                                  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">

                                          <img src="/assets/img/gcp3.PNG" data-toggle="modal" data-target="#gcp" class="card-img-top" alt="...">
                                          <div class="card-body">
                                            
                                            <p class="card-text">
                                                  <div class="title">
                                                          <p class="text-uppercase">Google Cloud GCP</p>
                                                          <span class="text-secondary">ORG: GOOGLE</span><br>
														    <span class="text-secondary">TRAINING ORG: COURSERA</span>
                                                      </div>
                                            </p>
                                          
                                          </div>
                                  </div>
								  
								   <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">

                                          <img src="/assets/img/awsfun.PNG" data-toggle="modal" data-target="#aws" class="card-img-top" alt="...">
                                          <div class="card-body">
                                            
                                            <p class="card-text">
                                                  <div class="title">
                                                          <p class="text-uppercase">Amazon web Services (AWS)</p>
                                                          <span class="text-secondary">ORG:Amazon</span><br>
														    <span class="text-secondary">TRAINING ORG: COURSERA</span>
                                                      </div>
                                            </p>
                                          
                                          </div>
                                  </div>
          
                             
                              </div>
							  
							   <div class="col-lg-4 col-md-6 col-sm-12 element-item cloudd">
                                   <div class="project-title">
                              <h1 class="text-uppercase title-h1 text-center"  style="font-size:15px;font-family: Times New Roman">(IT Support)</h1>
								</div>
                               
                                  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                                         
                                          <img src="/assets/img/googleitsupport.PNG" data-toggle="modal" data-target="#itsupport" class="card-img-top" alt="...">
                                          <div class="card-body">
                                            
                                            <p class="card-text">
                                                  <div class="title">
                                                          <p class="text-uppercase">Google IT Support</p>
                                                          <span class="text-secondary">ORG: GOOGLE</span><br>
														  <span class="text-secondary">TRAINING ORG: COURSERA</span>
                                                      </div>
                                            </p>
                                          
                                          </div>
                                  </div>
          
                             
                              </div>
							   <div class="col-lg-4 col-md-6 col-sm-12 element-item cloudd">
                                   <div class="project-title">
                              <h1 class="text-uppercase title-h1 text-center"  style="font-size:15px;font-family: Times New Roman">Artificial Intelligence</h1>
								</div>
                               
                                  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                                         
                                          <img src="/assets/img/IBMDA.PNG" data-toggle="modal" data-target="#datascience" class="card-img-top" alt="...">
                                          <div class="card-body">
                                            
                                            <p class="card-text">
                                                  <div class="title">
                                                          <p class="text-uppercase">DataScience Certificate</p>
                                                          <span class="text-secondary">ORG: IBM</span><br>
														  <span class="text-secondary">TRAINING ORG: COURSERA</span>
                                                      </div>
                                            </p>
                                          
                                          </div>
                                  </div>
								   <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                                         
                                          <img src="/assets/img/ibmappliedai.PNG" data-toggle="modal" data-target="#Machinelearning" class="card-img-top" alt="...">
                                          <div class="card-body">
                                            
                                            <p class="card-text">
                                                  <div class="title">
                                                          <p class="text-uppercase">Machinelearning and AI</p>
                                                          <span class="text-secondary">ORG: IBM</span><br>
														  <span class="text-secondary">TRAINING ORG: COURSERA</span>
                                                      </div>
                                            </p>
                                          
                                          </div>
										
                                  </div>
           
                             
                              </div>
							  
							 
							  </section>
 <section class="project-area">
                <div class="container">
                    <div class="project-title ">
                        <a  href="https://www.linkedin.com/in/oluyede-segun-jr-a-a5550b167/" style="font-size:15px"> see more certs on linkdin  <i class="fas fa-link"></i> </a>

                    </div>
 </div>
 </section>
			 <div class="modal fade" id="ccna">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                      
                                        
                                        <img src="/assets/img/ccnanew.PNG" data-toggle="modal" data-target="#myModal" class="card-img-top" alt="...">
                                                       
                                                        
                                    
                                   
                                            
                                        </div>
                                    </div>
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    
                                  </div>
                                </div>
                              </div>
				

              <div class="modal fade" id="ccent">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                      
                                        
                                        <img src="/assets/img/ccentnew.PNG" data-toggle="modal" data-target="#myModal" class="card-img-top" alt="...">
                                                       
                                                        
                                    
                                   
                                            
                                        </div>
                                    </div>
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    
                                  </div>
                                </div>
                              </div>
				
				
				<div class="modal fade" id="nse2">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                      
                                        
                                        <img src="/assets/img/NSE2 Fortinet3.PNG" data-toggle="modal" data-target="#myModal" class="card-img-top" alt="...">
                                                       
                                                        
                                    
                                   
                                            
                                        </div>
                                    </div>
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    
                                  </div>
                                </div>
                              </div>
    
	  <div class="modal fade" id="caip">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                      
                                        
                                        <img src="/assets/img/certnexai2.PNG" data-toggle="modal" data-target="#myModal" class="card-img-top" alt="...">
                                                       
                                                        
                                    
                                   
                                            
                                        </div>
                                    </div>
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    
                                  </div>
                                </div>
                              </div>
							  
		 <div class="modal fade" id="gcp">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                      
                                        
                                        <img src="/assets/img/gcp3.PNG" data-toggle="modal" data-target="#myModal" class="card-img-top" alt="...">
                                                       
                                                        
                                    
                                   
                                            
                                        </div>
                                    </div>
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    
                                  </div>
                                </div>
                              </div>
				
     <div class="modal fade" id="aws">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                      
                                        
                                        <img src="/assets/img/awsfun.PNG" data-toggle="modal" data-target="#myModal" class="card-img-top" alt="...">
                                                       
                                                        
                                    
                                   
                                            
                                        </div>
                                    </div>
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    
                                  </div>
                                </div>
                              </div>
	
	
	
							 <div class="modal fade" id="itsupport">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                      
                                        
                                        <img src="/assets/img/googleitsupport.PNG" data-toggle="modal" data-target="#myModal" class="card-img-top" alt="...">
                                                       
                                                        
                                    
                                   
                                            
                                        </div>
                                    </div>
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    
                                  </div>
                                </div>
                              </div>
							  
							  	<div class="modal fade" id="datascience">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                      
                                        
                                        <img src="/assets/img/IBMDA.PNG" data-toggle="modal" data-target="#myModal" class="card-img-top" alt="...">
                                                       
                                                        
                                    
                                   
                                            
                                        </div>
                                    </div>
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    
                                  </div>
                                </div>
                              </div>
							  
							  							 <div class="modal fade" id="Machinelearning">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                      
                                        
                                        <img src="/assets/img/ibmappliedai.PNG" data-toggle="modal" data-target="#myModal" class="card-img-top" alt="...">
                                                       
                                                        
                                    
                                   
                                            
                                        </div>
                                    </div>
                                    </div>
                                    
                                    <!-- Modal footer -->
                                    
                                  </div>
                                </div>
                              </div>
	
				
     <hr>
        
            <section class="project-area">
                <div class="container">
                    <div class="project-title ">
                        <h1 class="text-uppercase title-h1" style="font-family: Times New Roman">3. MY PROJECTS</h1>
                    </div>
                    <div class="button-group">
                    
                   
                   
                  
                        </div>
                        
        
                        <div class="row grid">

                            
        
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                         <div class="project-title">
                              <h1 class="text-uppercase title-h1 text-center"  style="font-size:15px;font-family: Times New Roman">Computer Networking</h1>
								</div>
                                        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                                            <div class="card-body">
                                            
                                            <img src="/assets/img/smallbuild.PNG" class="card-img-top" alt="...">
                                           
                                              <h5 class="card-title text-uppercase title-h1 text-center" style="font-family: Times New Roman">SMALL BUILDING NETWORKING</h5>
                                              <p class="card-text">A Small Building Network designed by me. using packet tracer simulation software contains network devices like routers, switches, waps... </p>
                                              <a href="https://medium.com/@juniorboyboy2/small-building-networking-with-cisco-packet-tracer-simulation-33db0ab14265" class="btn btn-primary"> Read More <i class="fas fa-link"></i></a>
                                            </div>
                                          </div>
                                    </div>
                            
                            <div class="col-lg-4 col-md-6 col-sm-12 element-item webb">
                                      <div class="project-title">
                              <h1 class="text-uppercase title-h1 text-center"  style="font-size:15px;font-family: Times New Roman">Webapp/Websites</h1>
								</div>
                                <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                                    <div class="card-body">
                                           
                                            <img src="/assets/img/animalprednew.PNG" class="card-img-top" alt="...">
                                            
                                              
                                              <p class="card-text">Uses Machine learning to predict animal class Developed with python django,bootstrap4, javascript... </p>
                                              <a href="https://animalpred.herokuapp.com/animalpre/" class="btn btn-primary">Go to webapp <i class="fas fa-link"></i></a>
                                            </div>
                                 </div>
								 
								  <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                                    <div class="card-body">
                                           
                                            <img src="/assets/img/carreerapp.PNG" class="card-img-top" alt="...">
                                            
                                              
                                              <p class="card-text">A web application that provides different career platforms. Developed with python django,css materialise, javascript... </p>
                                              <a href="http://cjjapp.herokuapp.com/djapp/" class="btn btn-primary">Go to webapp <i class="fas fa-link"></i></a>
                                            </div>
                                 </div>
								 <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                                    <div class="card-body">
                                           
                                            
                                            <p class="card-title">MY PORTFOLIO WEBSITE</p>
                                              
                                              <p class="card-text">built with javascript,nodejs, express, mongodb, firebase...</p>
                                              <a href="https://oluyedesegunjr.firebaseapp.com/" class="btn btn-primary">Go to website<i class="fas fa-link"></i></a>
                                            </div>
                                 </div>
                           
                            </div>
							
							
                           
                            
                            <div class="col-lg-4 col-md-6 col-sm-12">
                               
        
                                <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
            
                                <div class="project-title">
                              <h1 class="text-uppercase title-h1 text-center"  style="font-size:15px;font-family: Times New Roman">Artificial inteeligence (ML&Data analysis)</h1>
								</div>
                                    <div class="card-body">
                                     
                                      <p class="card-text">
                                            <div class="our-project">
                                   
                                                    <div class="title py-4">
                                                        <span class="text-uppercase">IMAGE CLASSIFICATION WITH KERAS AND OPENCV AND TRANSFER LEARNING WITH IBM</span>
                                                         <a href="https://medium.com/@juniorboyboy2/comparing-keras-deep-learning-image-classification-and-transfer-learning-ibm-cloud-3ea9cd769961" class="btn btn-primary">More<i class="fas fa-link"></i></a>
                                                    </div>
                                                </div>
                        
                                                <div class="our-project">
                                                   
                                                    <div class="title py-4">
                                                            <span class="text-uppercase">Data Insights part 1 using K-means clustering</span>
                                                           <a href="https://medium.com/@juniorboyboy2/data-insights-part-1-using-kmeans-clustering-to-classify-data-into-groups-4a467c3c36fa" class="btn btn-primary">More <i class="fas fa-link"></i></a>
                                                        
                                                    </div>
                        
                                                 </div>
                        
                                                 <div class="our-project">
                                                   
                                                 <div class="title py-4">
                                                         <span class="text-uppercase">Data Insights part 2: using seaborn visualizations</span>
                                                          <a href="https://medium.com/@juniorboyboy2/data-insights-part-2-data-visualizations-with-seaborn-a6f57d7a0aab" class="btn btn-primary">More <i class="fas fa-link"></i></a>
                                                    
                                                 </div>
                        
                                                </div>
                                    </p>
                                    
                                    </div>
                         </div>
                       
                            
                            
                        </div>
                    </div>
                </section>
				<section class="project-area">
                <div class="container">
                    <div class="project-title ">
                        <a  href="https://github.com/juniorboycoder" style="font-size:15px"> see more projects on my github </a> <i class="fas fa-link"></i>

                    </div>
 </div>
 </section>
            </div>
        </div>

    
	  
         
               
                  <hr>  
            
                  
                  <!--  ======================= End Project Area =============================  -->
            
                    <!--  ======================== About Me Area ==============================  -->
                
             
     <div class="col-lg-12 col-md-6 col-sm-12 ">
            <section class="project-area">
                <div class="container">
                    <div class="project-title ">
                        <h1 class="text-uppercase title-h1"style="font-family: Times New Roman">4.SERVICES AND EXPERIENCE</h1>
                    </div>
    
                   
    
                    <div class="row grid">
                        
                        <div class="col-lg-4 col-md-12 col-sm-12 element-item networkkk">
                            
    
                            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                                    
                                   
                                    <div class="card-body">
                                            <h5 class="card-title title-h1" style="font-family: Times New Roman">NETWORK</h5>
                                      
                                      <p class="card-text">
                                            <div class="our-project">
                                          
                                                    <div class=" title ">
                                                            <h4 class="text-uppercase" style="font-family: Times New Roman">IT Suppport Network role</h4>
                                                            <span class="text">Worked as a IT Suppport Network role Management Edge Company</span>
                                                     </div>
                                            
                                        </div>
                                      </p>
                                     
                                    </div>
                            </div>
                            </div>
    
                        <div class="col-lg-4 col-md-12 col-sm-12 element-item webbb">
                
                                <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                                        
                                       
                                        <div class="card-body">
                                                <h5 class="card-title title-h1" style="font-family: Times New Roman">Worked on websites</h5>
                                          
                                          <p class="card-text">
                                                <div class="our-project">
                                                
                                                        <div class=" title">
                                                                <span class="text">Work on devlopment,evaluation & maintenace of website with Management Edge Company</span>
                                                               
                                                         </div>
                                           
                                            </div>
                                          </p>
                                         
                                        </div>
                          
                           
                        </div>
                    </div>
                        
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            
                                <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                                        
                                       
                                        <div class="card-body">
                                                <h5 class="card-title title-h1"style="font-family: Times New Roman">Data Analysis and Insertion</h5>
                                          
                                          <p class="card-text">
                                                <div class="our-project">
                                            
                                                        <div class=" title ">
                                                                <span class="text">Performed Data Analysis and Insertion in Management Edge Company</span>
                                                               
                                                         </div>
                                                
                                            </div>
                                          </p>
                                          
                                        </div>
                          
                            </div>
    
                            
                        </div>
                        
                        
                        
                    </div>
                    <div  id="recom"></div>
                </div>
                </section>
                </div>
            
       
       
          <hr>  
          <br>
          <br>
         
          <!--  ======================= End Project Area =============================  -->
    
            <!--  ======================== About Me Area ==============================  -->
            <section class="about-area " >
                    <div class="container">
                            <div class="project-title ">
                                    <h1><li class="text-uppercase title-text text-center"  style="font-size:20px;font-family: Times New Roman"><strong>RECOMMENDATIONS</strong></l1></h1>
                                </div>
                            <div id="demo" class="carousel slide" data-ride="carousel">
                                    <ul class="carousel-indicators">
                                      <li data-target="#demo" data-slide-to="0" class="active"></li>
                                      <li data-target="#demo" data-slide-to="1"></li>
                                      <li data-target="#demo" data-slide-to="2"></li>
                                    </ul>
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                         
                                            <h4 class="text-uppercase"  style="font-size:15px;">John Faramade</h4>
                                            <p class="para" style="font-family: Times New Roman">He is diligent</p>
                                      </div>
                                    
                                     
                              
                                      <div class="carousel-item">
                                        
                                            <h4 class="text-uppercase"  style="font-size:15px">Daniel Obasesin</h4>
                                            <p class="para" style="font-family: Times New Roman">Always ready to learn</p>
                                      </div>
                                    </div>
                                    <br>
                                    <br>
                                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                      <span class="carousel-control-prev-icon"></span>
                                    </a>
                                    <a class="carousel-control-next" href="#demo" data-slide="next">
                                      <span class="carousel-control-next-icon"></span>
                                    </a>
                                  </div>
                                  
                    
                              <!-- Wrapper for slides -->
                         
                <div  id="blog"></div>
    
            </section>
    
    
            <!--  ======================== End About Me Area ==============================  -->
    
            <!--  ========================== Subscribe me Area ============================  -->
           
            <!--  ========================== End Subscribe me Area ============================  -->
    
    
        </main>
        <!--  ======================= End Main Area ================================ -->
    
        <div class="container fly">
		 <div class="project-title ">
                <h1><li class="text-uppercase title-text text-center"  style="font-size:20px;font-family: Times New Roman"><strong>BLOG ARTICLES</strong></l1></h1>
           </div>  
                  <% articles.forEach(article => { %>
                  <div class="card mt-4">
                    <div class="card-body">
                      <h4 class="card-title" style="font-size:15px"><%= article.title %></h4>
                      <div class="card-subtitle text-muted mb-2">
                        <%= article.createdAt.toLocaleDateString() %>
                      </div>
                      <div class="card-text mb-2"><%= article.description %></div>
                      <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
                      
                      
                    </div>
                  </div>
                <% }) %>
               
                  
                <div id="contact"></div>
              </div>

              
    <!--Section: Contact v.2-->
<section class="mb-4" >
        <div class="container">
           <!--Section heading-->
       
       
               <br>
               <br>
               <br>
               <!--Grid column-->
              
        
		  <div class="container">
					 <div class="project-title ">
					  <h1><li class="text-uppercase title-text "  style="font-size:20px; font-family: Times New Roman"><strong>HIRING FIRMS</strong></l1></h1>
                      
					</div>
					 <div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
					<h4 class="text-uppercase card-body"  style="font-size:15px">Availiable for hire in any of the following firms</h4>
					<div class="card-text">
                                          <li>ISP & Carriers</li>
										  <li>Public & Private Cloud Providers</li>
                                                  <li>Web Development Firms </li>
                                                 <li> Regular company with IT support needs (Customer support,Help desk technician)</li>
												 <li>Training firms related to any of my areas of specializations</li>
												 <li>Data Analytics and ML firm</li>
												<li>banks</li>
												<li>Schools</li>
												<li>Any other company related to my skillset</li>
												  
                   </div>
				   </div>
        
 <div class="project-title ">
					  <h1><li class="text-uppercase title-text "  style="font-size:20px;font-family: Times New Roman"><strong>Contact me</strong><span class="text-danger" style= "font-size: 6px ;font-family: Times New Roman">(NB:avaliable for freelance right now, not hire)</span></l1></h1>
                      
					</div>
                <div class="container">
					
					<div class="card shadow p-3 mb-5 bg-white rounded" style="width: auto;">
                        <form action="" class="was-validated">
                          <div class="form-group">
                            <label for="uname">Subject</label>
                            <input type="text" class="form-control" id="subject" placeholder="Hire/freelance" required>
                       
                          </div>
                          <div class="form-group">
                            <label for="pwd">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Your email" name="uname" required>
                       
                          </div>
        
                          <div class="form-group">
                                <label for="pwd">Message</label>
                                <textarea class="form-control" rows="5" id="message" placeholder="Job description and your phone no."></textarea>
                        </div>
                       
                          <button  onclick="myFunction()" type="submit" id="send" class="btn btn-primary">Send</button>
                        </form>
                      </div>
					  </div>
                <!--Grid column-->
        
                <!--Grid column-->
         
                <div class=" text-center">
                    <ul class="list-unstyled mb-0 " style="font-size:12px">
                        <li><i class="fas fa-map-marker-alt fa-2x" ></i>
                            ONDO STATE, NIGERIA<br>
                        
        
                       <i class="fas fa-phone mt-4 fa-2x"></i>
                            + 2348146640448<br>
                        
        
                        <i class="fas fa-envelope mt-4 fa-2x"></i>
                            Oluyedesegjun@gmail.com
                        </li>
                    </ul>
                </div>
				
				 <div class="social text-center">
                          
                           <a href="https://web.facebook.com/oluyede.olusegunjunior/"><i data-toggle="tooltip1" title="facebook" class="fab fa-facebook"></i></a>
                            <a href="https://www.instagram.com/oluyedesegjr/"><i data-toggle="tooltip2" title="instagram" class="fab fa-instagram"></i></a>
                       
                            <a href="https://twitter.com/oluyedejun1"><i data-toggle="tooltip3" title="twitter" class="fab fa-twitter"></i></a>
							 <a href="https://www.linkedin.com/in/oluyede-segun-jr-a-a5550b167/"><i data-toggle="tooltip4" title="linkedin" class="fab fa-linkedin"></i></a>
							  <a href="https://medium.com/@juniorboyboy2"><i data-toggle="tooltip5" title="medium" class="fab fa-medium"></i></a>
							    <a href="https://github.com/juniorboycoder"><i  data-toggle="tooltip6" title="github" class="fab fa-github"></i></a>
                        </div>
                <!--Grid column-->
        
            </div>
            </div>
		
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
		<script>
                    function myFunction() {
                      alert("Message sent!, thanks");
                    }
                    </script>
					
            <script>
                    $("form").on("submit", e => {
                      e.preventDefault();
              
                      const email = $("#email")
                        .val()
                        .trim();
                      const subject = $("#subject")
                        .val()
                        .trim();
                      const text = $("#message")
                        .val()
                        .trim();
        
                    
              
                      const data = {
                        email,
                        subject,
                        text,
                       
                      };
              
                      $.post("/email", data)
                        .then(() => {
                          window.location.href = "https://portfoliowebsite-8c4e8.firebaseapp.com/#contact";
                        })
                        .catch(() => {
                          window.location.href = "/error";
                        });
                    });
                  </script>
        
        
            
           
        </section>
        <!--Section: Contact v.2-->
        <footer class="footer-area ">
                <div class="container">
                    <div class="">
                        <div class="site-logo text-center py-4">
                            <a href="#"><img src="/assets/img/logo555.PNG" alt="logo"></a>
                        </div>
                        <div class="social text-center">
                            <h5 class="text-uppercase"style="font-family: Times New Roman">Follow me</h5>
                            <a href="https://web.facebook.com/oluyede.olusegunjunior/"><i data-toggle="tooltip1" title="facebook" class="fab fa-facebook"></i></a>
                            <a href="https://www.instagram.com/oluyedesegjr/"><i data-toggle="tooltip2" title="instagram" class="fab fa-instagram"></i></a>
                       
                            <a href="https://twitter.com/oluyedejun1"><i data-toggle="tooltip3" title="twitter" class="fab fa-twitter"></i></a>
							 <a href="https://www.linkedin.com/in/oluyede-segun-jr-a-a5550b167/"><i data-toggle="tooltip4" title="linkedin" class="fab fa-linkedin"></i></a>
							  <a href="https://medium.com/@juniorboyboy2"><i data-toggle="tooltip5" title="medium" class="fab fa-medium"></i></a>
							    <a href="https://github.com/juniorboycoder"><i  data-toggle="tooltip6" title="github" class="fab fa-github"></i></a>
                        </div>
                        <div class="copyrights text-center">
                            <p class="para" style="font-family: Times New Roman">
                                Copyright 2020 
                                <a href="#"><span style="color: var(--primary-color);font-family: Times New Roman">Oluyedejb</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
            <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>
        </main>
		
		<script>
$(document).ready(function(){
  $('[data-toggle="tooltip1"]').tooltip();   
});
</script>
	<script>
$(document).ready(function(){
  $('[data-toggle="tooltip2"]').tooltip();   
});
</script>
	<script>
$(document).ready(function(){
  $('[data-toggle="tooltip3"]').tooltip();   
});
</script>
	<script>
$(document).ready(function(){
  $('[data-toggle="tooltip4"]').tooltip();   
});
</script>
	<script>
$(document).ready(function(){
  $('[data-toggle="tooltip5"]').tooltip();   
});
</script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip6"]').tooltip();   
});
</script>
        <script>
                let nav_offset_top = $('.header_area').height() + 0;
        
            function navbarFixed() {
                if ($('.header_area').length) {
                    $(window).on('scroll',function () {
                        let scroll = $(window).scrollTop();
                        if (scroll >= nav_offset_top) {
                            $('.header_area .main-menu').addClass('navbar_fixed');
                        } else {
                            $('.header_area .main-menu').removeClass('navbar_fixed');
                        }
                    })
                }
            }
        
            navbarFixed();
           </script>
           
        
           <script>
               $(document).ready(function(){
            $(window).on('scroll',function () {
               if ($(this).scrollTop() > 10) {
                   $('#back-to-top').fadeIn();
               } else {
                   $('#back-to-top').fadeOut();
               }
           });
           // scroll body to 0px on click
           $('#back-to-top').click(function () {
               $('body,html').animate({
                   scrollTop: 0
               }, 400);
               return false;
           });
        });
           </script>
        
           <script>
              $(document).ready(function(){
             $(window).scroll(function () {
                    if ($(this).scrollTop() > 50) {
                        $('#back-to-top').fadeIn();
                    } else {
                        $('#back-to-top').fadeOut();
                    }
                });
                // scroll body to 0px on click
                $('#back-to-top').click(function () {
                    $('#back-to-top').tooltip('hide');
                    $('body,html').animate({
                        scrollTop: 0
                    }, 800);
                    return false;
                });
                
                $('#back-to-top').tooltip('show');
        
        });
        
        
           </script>
        
        
            
            <script>
            
            var $loading = $('#loader').hide();
                $(document)
                .ajaxStart(function () {
                    $loading.show();
                })
                .ajaxStop(function () {
                    $loading.hide();
                });
            </script>
        
        
        
        
            <!--  Jquery js file  -->
            <script type="text/javascript" src="/assets/js/jquery.3.4.1.js"></script>
        
            <!--  Bootstrap js file  -->
            <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        
            <!--  isotope js library  -->
            <script  type="text/javascript" src="/assets/vendor/isotope/isotope.min.js"></script>
        
            <!--  Magnific popup script file  -->
            <script type="text/javascript" src="/assets/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
        
            <!--  Owl-carousel js file  -->
            <script type="text/javascript" src="/assets/vendor/owl-carousel/js/owl.carousel.min.js" charset="utf-8"></script>
        
        
            <script type="text/javascript" src="/assets/js/main.js" charset="utf-8"></script>
            <!--  custom js file  -->
        </div>
        </div>
        
        
        
        
        </body>
        
        </html>

                       
            
            
            
     
		
		
		
		
		
		
		
		
		
		
		